In [2]:
import sys
print("version of the python :" , sys.version)

version of the python : 3.12.4 (tags/v3.12.4:8e8a4ba, Jun  6 2024, 19:30:16) [MSC v.1940 64 bit (AMD64)]

### Variable

Variables
Variables are containers for storing data values.

Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it.

In [5]:
x = 5 
x = "alex"
print(x)

alex

### Casting


If you want to specify the data type of a variable, this can be done with casting.

In [10]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

### Get the Type

In [11]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

### String variables can be declared either by using single or double quotes:

In [12]:
x = "John"
# is the same as
x = 'John'

### Many Values to Multiple Variables

python allows you to assign values to multiple variables in one line:

In [13]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

### One Value to Multiple Variables

And you can assign the same value to multiple variables in one line:

In [14]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### Unpack a Collection

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables.`This is called unpacking.

In [18]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

### global variable

In [19]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

### Python datatypes

##### Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

In [ ]:
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

In [21]:
print(type(None))

<class 'NoneType'>

### numbers

In [23]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

#### INT

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [24]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

#### Float


Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [25]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [27]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

print(x)
print(y)
print(z)

<class 'float'>
<class 'float'>
<class 'float'>
35000.0
120000.0
-8.77e+101

### strings

#### multiline strings

In [28]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [29]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### slicing in the strings

In [32]:
b = "Hello, World!"
print(b[1:5])
print(b[2:5])
print(b[3:5])
print(b[0:13])
print(b[1:13])
print(b[2:13])

ello
llo
lo
Hello, World!
ello, World!
llo, World!

### slice from the start :

In [34]:
b = "Hello, World!"
print(b[:6])

Hello,

### Slice To the End

In [39]:
b = "Hello, World!"
print(b[5:])

, World!

In [44]:
b = "Hello, World!"
print(b[:])

Hello, World!

### negative indexing

In [1]:
b = "Hello, World!"
print(b[-6:-2])

Worl

In [70]:
b = "Hello, World!"
print(b[::-1])

!dlroW ,olleH

In [72]:
#check palindrome function :

def checkPalind(x):
    return x == x[::-1]

x = input("enter string")
if checkPalind(x):
    print("palindrome")
else:
    print("not palindrome")

enter string abcd

not palindrome

### modify strings in the python :

### upper case

In [73]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

### lower case

In [75]:
a = "Hello, World!"
print(a.lower())

hello, world!

### white space :

Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

In [88]:
a = "           Hello,World!            "
print(a.strip()) # returns "Hello, World!"

Hello,World!

# The replace() method replaces a string with another string:

In [83]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

The split() method returns a list where the text between the specified separator becomes the list items.

In [87]:
a = "Hello, Wo,rl,d!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' Wo', 'rl', 'd!']

In [89]:
a = "hello, Wo,rl,d!"
print(a.capitalize())

Hello, wo,rl,d!

capitalize() -- this function converts the first letter of the string from the lower case to the upper case

In [91]:
age = 36
txt = "My name is John, I am" + str(age)
print(txt)

My name is John, I am36

### F-strings

F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [92]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

### Placeholders and Modifiers

A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [93]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [94]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [96]:
price = 59
txt = f"The price is {price:.5f} dollars"
print(txt)

The price is 59.00000 dollars

In [ ]:
Doing this will throw errror :

In [97]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [2]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
capitalize()	Converts the first character to upper case
casefold()	Converts string into lower case
center()	Returns a centered string
count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle()	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning

In [99]:
print(bool("Hello"))
print(bool(15))

True
True

In [3]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
print(bool({}))

False

## list :

In [101]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [102]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [103]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

### using the list constructor to make the list constructor()

In [104]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

### Access Items

In [4]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])
print(thislist[0])

cherry
apple

In [5]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[0:])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [6]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[::-1])

['mango', 'melon', 'kiwi', 'orange', 'cherry', 'banana', 'apple']

In [10]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-5:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [112]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-5:-1])

['cherry', 'orange', 'kiwi', 'melon']

In [20]:
x = "abcdefghijklmnopqurstuvwxyz"
print(x[-6:-1])

uvwxy

In [32]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1] = "blackcurrant"
thislist

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'mango']

### Change a Range of Item Values

In [31]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [116]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:4] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'kiwi', 'mango']

### Check if Item Exists

In [22]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
print("apple" in thislist)

True

### Insert Items

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [35]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2  , "watermelon")
thislist

['apple', 'banana', 'watermelon', 'cherry']

### Append Items

To add an item to the end of the list, use the append() method:

In [38]:
thislist = ["apple" , "banana" , "cherry"]
thislist.append("orange")
thislist

['apple', 'banana', 'cherry', 'orange']

### Extend List

To append elements from another list to the current list, use the extend() method.

In [44]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thistuple = ("lion" , "tiger")  // tuple 
thislist.extend(tropical)

thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya', 'lion', 'tiger']

## Python - Remove List Items

In [45]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

If there are more than one item with the specified value, the remove() method removes the first occurrence:

In [46]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

### Remove Specified Index

In [47]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

In [48]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

### using the del keyword :

In [49]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

### The del keyword can also delete the list completely.

In [52]:
thislist = ["apple", "banana", "cherry"]
del thislist

### clear the list